.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.message {
  margin-bottom: 30px;
  align-self: flex-start;
}

.addCustomer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addCustomer p {
  margin-bottom: -50px;
  border: none;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.arrow-circle {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 200px;
  gap: 70px;
  cursor: pointer;
}

.plus-container {
  position: relative;
  display: grid;
  place-items: center;
}

.circle,
.plus-circle {
  position: absolute;
}

.customer-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.search-customer {
  margin-bottom: 15px;
  align-self: flex-start;
}

.search-customer input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #e67e22;
  margin-bottom: 40px;
  align-self: center;
}

.button-choice button {
  height: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  flex: 1;
  margin: 0;
  border-radius: 0;
  border: none;
  color: #e67e22;
}

button.active {
  background-color: #e67e22;
  color: white;
}

button:hover {
  background-color: #e67e22;
  color: white;
}

@media (max-width: 576px) {
  .search-customer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .arrow-circle {
    margin-top: 70px;
    margin-left: 0;
    gap: 70px;
  }
}
