.addCustomer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addCustomer p {
  margin-bottom: -50px;
  border: none;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.arrow-circle {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 200px;
  gap: 70px;
}

.plus-container {
  position: relative;
  display: grid;
  place-items: center;
}

.circle,
.plus-circle {
  position: absolute;
}

.customer-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.search-customer input {
  width: 350px;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-right: 10px;
}
