.openSessionModalContainer {
  position: absolute;
  height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(223, 229, 229);
  border: 3px solid grey;
  border-radius: 20px;
}

.openSessionModalContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 85%;
}

.openSessionModalContainer form div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.openSessionModalContainer form input,
textarea {
  font-size: 22px;
  border: 1px grey solid;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
}

.openSessionModalContainer form input {
  height: 40px;
}
