.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f1f0f0;
  padding: 30px;
  width: 600px;
}

.login div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login button {
  height: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.login label {
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 10px;
}

.button-choice button {
  border: none;
}

.login .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

button:hover {
  background-color: #e67e22;
}

.login input {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  height: 40px;
}

.login input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
  }

  .content {
    width: 100%;
  }

  .login .button-choice {
    width: 100%;
  }

  .login input {
    width: 100%;
  }

  .content > div {
    width: 100%;
  }
}
