.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f1f0f0;
  padding: 30px;
  width: 600px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  gap: 5px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  width: 100%;
}

.login button {
  height: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.login label {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
  margin-bottom: 5px;
}

.button-choice button {
  border: none;
}

.login .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

button:hover {
  background-color: #e67e22;
}

.login input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
}

.login input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
  }

  .content {
    width: 100%;
  }

  .login .button-choice {
    width: 100%;
  }

  .login input {
    width: 100%;
  }

  .content > div {
    width: 100%;
  }
}
