.customerHome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboardItem {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 1px rgb(129, 129, 129) solid;
  border-radius: 20px;
}

.line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 250px;
}

.line > div {
  flex: 1;
  max-width: calc(50% - 10px);
}

.dashboard-item h2 {
  margin-top: 20px;
}

.customerHome h1 {
  margin-bottom: 20px;
}

.message {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .line {
    flex-direction: column;
    height: auto;
  }

  .dashboardItem {
    min-height: 200px;
  }
}
