.message {
  margin-bottom: 40px;
}

.myPrograms h1 {
  margin-bottom: 30px;
}

.programList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
