.standard-button {
  height: 40px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background-color: rgb(241, 240, 240);
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.standard-button:hover {
  background-color: #e67e22;
}
