.user-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
}

.itemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.user-infos label {
  font-weight: 600;
}

.user-infos input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  padding: 10px;
}

.user-infos input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  margin-top: 5px;
  min-height: 20px;
}

.error-message-back {
  color: red;
  font-size: small;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .user-infos {
    height: 100%;
    padding: 10px;
  }

  .user-infos .button-choice {
    width: auto;
  }

  .user-infos input {
    width: 100%;
  }

  .item {
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
  }

  .itemInfo {
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
  }

  .itemInfo > p {
    display: none;
  }

  .comment {
    gap: 2px;
  }
}
