.user-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
}

.itemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.user-settings .button-choice button {
  height: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.user-settings label {
  font-weight: 600;
}

.user-settings .button-choice button {
  border: none;
}

.user-settings .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.user-settings .button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.user-settings button:hover {
  background-color: #e67e22;
}

.user-settings input {
  width: 100%;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  height: 40px;
}

.user-settings input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  margin-top: 5px;
  min-height: 20px;
}

.error-message-back {
  color: red;
  font-size: small;
}
