.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  height: 100%;
}

.container button {
  height: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e67e22;
  margin-bottom: 40px;
  align-self: center;
}

.button-choice button {
  border: none;
}
.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
  color: #e67e22;
}

button.active {
  background-color: #e67e22;
  color: white;
}

button:hover {
  background-color: #e67e22;
  color: white;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex: 1;
}

.filter select {
  height: 40px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background-color: rgb(241, 240, 240);
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
}

.paginationContainer input {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  width: 3ch;
  line-height: 1;
}

.paginationContainer p {
  line-height: 1;
}

.message {
  margin-bottom: 30px;
}

.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

/* fondu */
.preview::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.9) 80%,
    whitesmoke 100%
  );

  pointer-events: none;
}

@media (max-width: 576px) {
  .imgPreview {
    width: 100%;
  }
}
