.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  height: 800px;
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 20px;
  gap: 15px;
  padding: 30px;
}

/* .container div:last-child {
  margin: 0;
} */

.container input,
.container textarea,
.container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1 1 auto;
  min-width: 0;
}

.container input:focus,
.container textarea:focus,
.container select:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.container .open-session-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content button {
  height: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.content .button-choice button {
  border: none;
}

.content .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 15px;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.container .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.container label {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
}

.container .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 15px;
}

.container .comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 10px;
}

.admin-settings,
.sport-settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container input[readonly],
.container textarea[readonly],
.container select[readonly] {
  background-color: #efefef;
  border-color: #bfbfbf;
  color: #555;
}
