.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  margin-bottom: 20px;
}

.program-creation-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.program-infos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container button {
  height: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.container .button-done {
  background-color: #e67e22;
}

.button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.button-choice button {
  border: none;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.button-step {
  margin-bottom: 20px;
}

.container button:hover {
  background-color: #e67e22;
}

.container-content {
  display: flex;
}

.container label {
  font-weight: 600;
  align-self: flex-start;
}

.container input {
  width: 400px;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  height: 40px;
}

.container select {
  width: 400px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  height: 40px;
}

.container textarea {
  width: 400px;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.container input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.button-step {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.button-step > div:last-child {
  display: flex;
  gap: 15px;
}

.program-sessions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sessions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-content .customers {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.container .customer-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.customer-infos {
  margin-bottom: 20px;
}

.customer-infos > div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.session-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.modal-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 20px;
  gap: 15px;
  padding: 30px;
  z-index: 999;
}

.modal-content textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
}

.modal-content p {
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-top: 1.5rem;
}
