.exercise-creation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  padding: 15px;
  gap: 15px;
}

.exercise-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.exercise-picture img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.exercise-creation-item-movement {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exercise-infos select {
  min-width: 100px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  height: 30px;
}

.exercise-infos {
  display: flex;
  gap: 50px;
}

.exercise-infos > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.exercise-creation-item label {
  font-size: 13px;
}

.exercise-infos input {
  width: 50px;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  height: 30px;
  text-align: right;
}

.exercise-notes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exercise-notes textarea {
  width: 100%;
}

@media (max-width: 576px) {
  .exercise-creation-item {
    flex-direction: column;
  }

  .exercise-picture {
    display: none;
  }

  .exercise-infos-left,
  .exercise-infos-right {
    width: 100%;
  }

  .exercise-infos select,
  .exercise-infos input {
    width: 100%;
  }

  .exercise-notes {
    margin-top: 10px;
  }
}
