.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  padding: 10px 5px;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.container p:nth-child(3) {
  text-align: right;
  padding-right: 10px;
}

.session-icon {
  cursor: pointer;
}
