.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.subscription button {
  height: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 40px;
  align-self: center;
}

.button-choice button {
  border: none;
}
.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

button:hover {
  background-color: #e67e22;
}
