.addSessionModalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.addSessionModalContainer label {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
}

.addSessionModalContent {
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 20px;
  gap: 15px;
  padding: 30px;
  z-index: 999;
}

.sessions-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  min-width: 0;
}

.itemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.customer,
.program {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.addSessionModalContainer input,
.addSessionModalContainer textarea,
.addSessionModalContainer select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1 1 auto;
  min-width: 0;
}

.item :global(.react-datepicker-wrapper) {
  flex: 1;
  width: 100%;
}

.item :global(.react-datepicker__input-container) {
  width: 100%;
}

.item :global(.react-datepicker__input-container input) {
  width: 100%;
}
.addSessionModalContainer input:focus,
.addSessionModalContainer textarea:focus,
.addSessionModalContainer select:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.customers-list,
.programs-list {
  display: flex;
  width: max-content;
  max-width: 400px;
  position: absolute;
  top: 40px;
  background-color: beige;
}

.customers-list ul,
.programs-list ul {
  width: 100%;
}

.customers-list li,
.programs-list li {
  padding: 15px;
  margin: -100;
}

.customers-list li:hover,
.programs-list li:hover {
  background-color: #a8c6cc;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.button-choice button {
  height: 50px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.addSessionModalContent .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 75%;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
  align-self: center;
}

.button-choice button {
  border: none;
}
.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

button:hover {
  background-color: #e67e22;
}

.session-admin,
.session-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  margin-top: 5px;
  min-height: 20px;
}

.error-message-back {
  color: red;
  font-size: small;
}
