.annual-subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.subscription-block {
  display: flex;
  height: 100%;
  width: 375px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  gap: 25px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.economy {
  font-weight: 600;
}

.item-list {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item p {
  margin-left: 15px;
}

.payment {
  color: white;
  font-weight: 600;
  background-color: #e67e22;
  padding: 15px;
  border-radius: 10px;
}

.payment:hover {
  color: #e67e22;
  background-color: white;
  border: 1px solid #e67e22;
  cursor: pointer;
}

.annual-subscription input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1;
  min-width: 0;
}

.annual-subscription input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

/* .promo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
} */

@media (max-width: 576px) {
  .annual-subscription {
    flex-direction: column;
  }
}
