.addCustomerModalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.addCustomerModalContainer label {
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 10px;
}

.addCustomerModalContent {
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 20px;
  gap: 15px;
  padding: 45px;
}

.addCustomerModalContent > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.addCustomerModalContent .email-check {
  display: flex;
  gap: 15px;
}

.addCustomerModalContainer input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  width: 100%;
}

.addCustomerModalContainer input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.addCustomerModalContainer .add-customer-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  margin-top: 5px;
}

.error-message-back {
  color: red;
  font-size: small;
}

.email-check {
  display: flex;
  flex-direction: column;
}

.email-check div {
  align-self: flex-end;
}

.customer-infos > p {
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .addCustomerModalContainer {
    padding: 10px;
    margin-top: 90px;
  }

  .addCustomerModalContent {
    width: 100%;
    padding: 10px;
  }
}
