.container > button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  border: 1px lightgray solid;
  border-radius: 20px;
  padding: 10px;
  min-height: 40px;
}

.card {
  font-weight: 600;
}
