.tasks-container {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.tasks-container h2,
.tasks-container > p {
  text-align: center;
  margin-bottom: 30px;
}

.tasks-container > p {
  font-size: medium;
  font-weight: bold;
  color: #e67e22;
}
