.container {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.container h2,
.container > p {
  text-align: center;
  margin-bottom: 30px;
}

.container > p {
  font-size: medium;
  font-weight: bold;
  color: #e67e22;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
