.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 5px;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 100%;
}

.containerToPaid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 50px 60px;
  padding: 10px 5px;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 100%;
  gap: 5px;
}

.container p:nth-child(3) {
  text-align: right;
  padding-right: 10px;
}

.buttonPaid {
  cursor: pointer;
  font-weight: 600;
}
