.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboard-item,
.item-graph {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 1px rgb(129, 129, 129) solid;
  border-radius: 20px;
}

.first-line {
  min-height: 150px;
}

.second-line {
  min-height: 300px;
}

.third-line {
  height: 350px;
}

.first-line,
.second-line,
.third-line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.first-line > div,
.second-line > div,
.third-line > div {
  flex: 1;
}

.dashboard-item h2 {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.message {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .first-line,
  .second-line,
  .third-line {
    flex-direction: column;
  }

  .dashboard-item {
    min-height: 200px;
  }

  .item-graph {
    min-height: 260px;
  }
}
