.addCustomerSubsription {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addCustomerSubsription p {
  margin-bottom: -50px;
  border: none;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.arrow-circle {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 200px;
  gap: 70px;
}

.plus-container {
  position: relative;
  display: grid;
  place-items: center;
}

.circle,
.plus-circle {
  position: absolute;
}

.customerSubscriptionList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .arrow-circle {
    margin-top: 70px;
    margin-left: 0;
    gap: 70px;
  }
}
