.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 20px;
}

.identity {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: start;
}

.formItem {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 20px;
}

.your-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container input,
.container textarea,
.container select {
  padding: 10px;
  border: 1px grey solid;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
}

.container textarea {
  max-width: none;
}

.container label {
  font-weight: 600;
}

.message {
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .identity {
    grid-template-columns: 1fr;
  }

  .formItem {
    grid-template-columns: 1fr;
  }

  .message {
    margin-bottom: 30px;
  }

  .helpme-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
