.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  height: 100%;
  border: 1px red solid;
}

.identity {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px green solid;
  gap: 20px;
}

.your-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container input,
.container textarea,
.container select {
  padding: 10px;
  border: 1px grey solid;
  border-radius: 10px;
  min-width: 0;
}

.container label {
  font-weight: 600;
  vertical-align: middle;
  border: 1px blue solid;
  flex: 1;
}

.message {
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .helpme-container {
    justify-content: center;
    align-items: center;
  }

  .identity {
    flex-direction: column;
  }

  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .message {
    margin-bottom: 30px;
  }

  input {
    flex-grow: 1;
  }

  .helpme-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
