.helpme-container {
  display: flex;
  flex-direction: column;
}

.helpme-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.helpme-container .form-item {
  display: flex;
  flex-direction: column;
}

.helpme-container input,
.helpme-container textarea,
.helpme-container select {
  padding: 10px;
  border: 1px grey solid;
  border-radius: 10px;
  min-width: 400px;
}

.helpme-container label {
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 10px;
}
