.invoices-item {
  display: grid;
  grid-template-columns: 120px 1fr 120px 40px;
  align-items: center;
  gap: 15px;
  border: 1px lightgray solid;
  border-radius: 20px;
  padding: 5px;
}

.title {
  font-weight: 600;
}
