.customer-session-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 350px;
  height: 200px;
  padding: 20px 10px;
  border: 1px grey solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.customer-name {
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-session-info {
  display: flex;
  margin-left: 15px;
  margin-bottom: 10px;
}

.info-picto {
  margin-right: 5px;
}

.picto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.customer-session-picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

button {
  height: 30px;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background-color: rgb(241, 240, 240);
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

button:hover {
  background-color: #e67e22;
}
