nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  color: white;
}

.logo-nav {
  width: 100%;
  align-self: center;
}

.barre {
  width: 70%;
  height: 3px;
  background-color: white;
}

.menu {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.navItem {
  margin-left: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

nav a {
  font-size: 18px;
}

.disconnect {
  margin-top: 40px;
}

.active {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 6px 10px;
}

@media (max-width: 576px) {
  nav {
    display: none;
  }
}
