.calendar {
  width: 100%;
}

.connect {
  display: flex;
  align-items: center;
}

.logoCalendar {
  height: 30px;
  cursor: pointer;
}

.email {
  font-weight: 600;
}

.addSessions {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addSessions p {
  margin-bottom: -50px;
  border: none;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.arrow-circle {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 200px;
  gap: 70px;
}

.plus-container {
  position: relative;
  display: grid;
  place-items: center;
  background-color: aqua;
}

.circle,
.plus-circle {
  position: absolute;
}
