.addSessionModalContainer {
  position: absolute;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.addSessionModalContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: red;
}

.addSessionModalContainer form div {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: blue;
}

.addSessionModalContainer form input {
  width: 80%;
}
