.sales-graph-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.sales-graph-container h2,
.sales-graph-container > p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.sales-graph-container div {
  width: 100%;
}
