.my-subscription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.subscription-block {
  display: flex;
  height: 100%;
  width: 375px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  gap: 25px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.item-list {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item p {
  margin-left: 15px;
}
