.customer-payments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.payment-item {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 100px 1fr auto;
  width: 100%;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
}

.date {
  font-weight: 600;
  justify-self: start;
}

.title {
  justify-self: start;
}

.price {
  font-weight: 600;
  justify-self: end;
}
