.signup-customer {
  display: flex;
  flex-direction: column;
}

.step0,
.step1,
.step2 {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  gap: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  width: 100%;
}

.signup-customer label {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
  margin-bottom: 5px;
}

.signup-customer input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
}

.signup-customer input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  min-height: 20px;
  margin-top: 2px;
}

.error-message-back {
  display: block;
  max-width: 400px;
  color: red;
  font-size: small;
  margin-top: 10px;
}

.resume-message {
  display: flex;
  color: red;
  font-size: small;
  white-space: pre-line;
  text-align: left;
  width: 100%;
}

.signup-customer .buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-self: flex-end;
}

@media (max-width: 576px) {
  .signup-customer div {
    width: 100%;
  }

  .signup-customer .buttons {
    width: auto;
  }

  .signup-customer input {
    width: 100%;
  }
}
