.activation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(241, 240, 240);
  width: 700px;
  padding: 30px;
}

.admin-settings,
.sport-settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15 px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
}

.itemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activation button {
  height: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.activation button:hover {
  background-color: #e67e22;
}

.activation .button-choice button {
  border: none;
}

.activation .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.activation label {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
  margin-bottom: 5px;
}

.activation input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
}

.activation textarea {
  width: 400px;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.activation input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  height: 20px;
  margin-top: 2px;
}

.error-message-back {
  color: red;
  font-size: small;
}

.activation .buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-self: flex-end;
  width: 400px;
}
