.customer-icon {
  cursor: pointer;
}

.customer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 350px;
  height: 200px;
  padding: 20px 10px;
  border: 1px grey solid;
  border-radius: 5px;
}

.customer-item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.customer-name {
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-content {
  flex: 1;
  width: 250px;
}

.customer-info {
  display: flex;
  margin-left: 15px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-content p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-picto {
  margin-right: 5px;
}

.customer-picture {
  width: 80px;
  height: 80px;
  object-fit: contain;
  flex: 1;
}

@media (max-width: 576px) {
  .customer-item {
    width: 100%;
  }
}
