.customer-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 30px;
}

.admin-settings,
.sport-settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
}

.itemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.customer-settings button {
  height: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-bottom: 20px;
}

.customer-settings label {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
}

.itemInfo > p {
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
  margin-left: -5px;
}

.customer-settings .button-choice button {
  border: none;
}

.customer-settings .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.customer-settings button:hover {
  background-color: #e67e22;
}

.customer-settings input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  padding: 10px;
}

.customer-settings textarea {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.customer-settings input:focus {
  outline: none;
  border: 2px solid #a8c6cc;
}

.customer-settings .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
  margin-top: 40px;
  margin-bottom: 20px;
  align-self: center;
}

.button-choice button {
  border: none;
}
.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.error-message {
  color: red;
  font-size: small;
  align-self: flex-start;
  margin-top: 5px;
  min-height: 20px;
}

.error-message-back {
  color: red;
  font-size: small;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
