.user-upcoming-sessions-container {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.user-upcoming-sessions-container h2,
.user-upcoming-sessions-container > p {
  text-align: center;
  margin-bottom: 30px;
}

.user-upcoming-sessions-container > p {
  font-size: medium;
  font-weight: bold;
  color: #e67e22;
}

.user-upcoming-sessions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
}

.session-item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
