.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(241, 240, 240);
  padding: 30px;
  width: 600px;
}

.signup-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.signup button {
  height: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.signup .button-choice button {
  border: none;
}

.signup .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #a8c6cc;
}

.button-choice > button {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.signup button:hover {
  background-color: #e67e22;
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
  }

  .signup-content {
    width: 100%;
  }

  .signup .button-choice {
    width: 100%;
  }

  .signup-content > div {
    width: 100%;
  }
}
