body {
  background-color: #a8c6cc;
  height: 100%;
  font-family: "Montserrat";
}

#root {
  display: flex;
  width: 100%;
}

.crawler {
  width: 1400px;
  margin: 0 auto;
}

.logo-big {
  text-align: center;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgb(241, 240, 240);
  height: 100vh;
  width: 100%;
  padding: 64px 20px 40px 20px;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: medium;
  font-weight: bold;
}

input,
textarea {
  font-family: inherit;
}

@media (max-width: 1399px) {
  .crawler {
    width: 100%;
  }
}
