body {
  background-color: #a8c6cc;
  height: 100%;
  font-family: "Montserrat";
}

.app {
  position: relative;
  width: 100vw;
}

.app-layout {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

.logo-big {
  text-align: center;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  padding: 60px 20px 40px 20px;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: medium;
  font-weight: bold;
}

input,
textarea {
  font-family: inherit;
}

@media (max-width: 1399px) {
  .app-layout {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .app-layout {
    flex-direction: column;
  }

  .content {
    margin-top: 30px;
    width: 100%;
  }

  .logo-big {
    text-align: center;
    width: 100%;
  }
}
